:root {
  --font-color: rgb(75, 253, 4);
  --font-color-not-active: rgba(75, 253, 4, 0.4);
  --font-size-title: 55px;
  --font-size-index: 35px;
  --font-size-system: 25px;
  --font-size-note: 35px;
  --inline-size: 1700px;
  --margin-index: 25px;
  --outline-on: dashed 1px yellow;
  --outline-red: dashed 1px red;
  --outline-off: none 0px;
  --outline: var(--outline-off);
}

body {
  outline: var(--outline);
  background-color: black;
  color: var(--font-color);
}

a {
  color: var(--font-color);
  font-size: var(--font-size-index);
}

h2 {
  color: var(--font-color);
  font-size: var(--font-size-index);
}

p {
  font-size: var(--font-size-index);
}

.hide {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
}

.title-title {
  outline: var(--outline);
  color: var(--font-color);
  font-size: var(--font-size-title);
}

.nav {
  outline: var(--outline);
  display: flex;
  justify-content: center;
}

.nav-nav {
  outline: var(--outline);
  font-size: var(--font-size-index);
}

.nav-item {
  outline: var(--outline);
  margin-bottom: var(--margin-index);
}

.nav-item-link {
  outline: var(--outline);
  font-size: var(--font-size-index);
}

.link-list {
  outline: var(--outline);
}

.link-list-list {
  outline: var(--outline);
  padding: 20px;
}

.link-list-title {
  outline: var(--outline);
  text-align: center;
  font-size: var(--font-size-index);
}

.link-list-item {
  outline: var(--outline);
  font-size: var(--font-size-index);
  margin-bottom: var(--margin-index);
}

.link-list-item-link {
  font-size: var(--font-size-index);
}

.style-btn {
  margin: 0px;
  font-size: var(--font-size-index);
}

.style-btn-link {
  font-size: var(--font-size-index);
}

.style-btn-link-not-active {
  color: var(--font-color-not-active);
}

.card {
  outline: var(--outline);
  box-shadow: 0 4px 8px 0 rgba(75, 253, 4, 0.2);
  transition: 0.3s;
  width: 200px;
  margin-left: 125px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.8);
}

.card-img-windows {
  max-width: 50px;
  max-height: 50px;
  margin-right: 14px;
  margin-bottom: 14px;
}

.card-img-android {
  max-width: 80px;
  max-height: 80px;
}

.card-img-unknown {
  max-width: 45px;
  max-height: 45px;
  margin-right: 23px;
}

.card-h4 {
  margin-top: 20px;
  font-size: var(--font-size-system);
  color: var(--font-color);
  font-weight: normal;
}

.note {
  outline: var(--outline);
}

.note-icon img {
  width: 35px;
  cursor: pointer;
  margin-left: 5px;
}

.note-text {
  outline: var(--outline);
  inline-size: var(--inline-size);
  overflow-wrap: break-word;
}

.note-title {
  outline: var(--outline);
  border-color: var(--font-color);
  font-size: var(--font-size-note);
  line-height: 1.6;
}

.note-note {
  outline: var(--outline);
  line-height: 1.6;
  font-size: var(--font-size-note);
  margin-bottom: 10px;
}

.mark-1 {
  background-color: red;
  color: white;
}

.mark-2 {
  background-color: orange;
  color: rgb(0, 0, 0);
}

.mark-3 {
  background-color: yellow;
  color: rgb(0, 0, 0);
}

.mark-4 {
  background-color: green;
  color: white;
}

.mark-5 {
  background-color: blue;
  color: white;
}

.mark-6 {
  background-color: indigo;
  color: white;
}

.mark-7 {
  background-color: violet;
  color: rgb(0, 0, 0);
}

.source-link-li {
  font-size: var(--font-size-note);
  margin-bottom: 5px;
}

.description-title {
  outline: var(--outline);
}

.description-note {
  outline: var(--outline);
  inline-size: var(--inline-size);
  overflow-wrap: break-word;
}

.precondition-item-li {
  font-size: var(--font-size-note);
}

.precondition-item-p {
  margin: 0px;
  margin-bottom: 5px;
  font-size: var(--font-size-note);
}

.note-aside {
  margin-top: 0px;
  margin-bottom: 40px;
}

.note-aside-text {
  font-size: var(--font-size-note);
}

.btn-off {
  background-color: green;
  padding: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: var(--font-size-note);
  color: var(--font-color);
}

.btn-on {
  background-color: var(--font-color);
  padding: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: var(--font-size-note);
  color: green;
}
