:root {
  --green: rgb(50, 182, 14);
  --ghost-green: rgba(50, 182, 14, 0.4);
  --white: rgb(255, 255, 255);
  --ghost-white: rgba(255, 255, 255, 0.4);
  --font-color: var(--green);
  --font-color-not-active: var(--ghost-green);
  --btn-not-active: rgba(255, 255, 255, 0.2);
  --btn-active: rgba(255, 255, 255, 0.6);
  --font-size-title: 35px;
  --font-size-index: 25px;
  --font-size-system-card: 25px;
  --font-size-note: 25px;
  --font-size-code: 20px;
  --inline-size: 900px;
  --margin-index: 25px;
  --outline-on: dashed 1px yellow;
  --outline-red: dashed 1px red;
  --outline-off: none 0px;
  --outline: var(--outline-off);
}

body {
  outline: var(--outline);
  background-color: black;
  color: var(--font-color);
}

a {
  color: var(--font-color);
  font-size: var(--font-size-index);
}

h2 {
  color: var(--font-color);
  font-size: var(--font-size-index);
}

p {
  font-size: var(--font-size-index);
}

.hide {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
}

.title-title {
  outline: var(--outline);
  color: var(--font-color);
  font-size: var(--font-size-title);
}

.nav {
  outline: var(--outline);
  display: flex;
  justify-content: center;
}

.nav-nav {
  outline: var(--outline);
  font-size: var(--font-size-index);
}

.nav-item {
  outline: var(--outline);
  line-height: 1.6;
}

.nav-item-link {
  outline: var(--outline);
  font-size: var(--font-size-index);
}

.link-list {
  outline: var(--outline);
}

.link-list-list {
  outline: var(--outline);
  padding: 20px;
}

.link-list-title {
  outline: var(--outline);
  text-align: center;
  font-size: var(--font-size-index);
}

.link-list-item {
  outline: var(--outline);
  font-size: var(--font-size-index);
  margin-bottom: var(--margin-index);
}

.link-list-item-link {
  font-size: var(--font-size-index);
}

.style-btn {
  margin: 0px;
  font-size: var(--font-size-index);
}

.style-btn-link {
  font-size: var(--font-size-index);
}

.style-btn-link-not-active {
  color: var(--font-color-not-active);
}

.card {
  outline: var(--outline);
}

.card-img-windows {
  max-width: 50px;
  max-height: 50px;
  margin-right: 14px;
}

.card-img-android {
  max-width: 80px;
  max-height: 80px;
  margin-right: 14px;
}

.card-img-unknown {
  max-width: 45px;
  max-height: 45px;
  margin-right: 23px;
}

.card-h4 {
  font-size: var(--font-size-system-card);
  color: var(--font-color);
  font-weight: normal;
}

.note {
  outline: var(--outline);
}

.note-icon img {
  width: 35px;
  cursor: pointer;
  margin-left: 5px;
}

.note-text {
  outline: var(--outline);
  inline-size: var(--inline-size);
  overflow-wrap: break-word;
}

.note-title {
  outline: var(--outline);
  border-color: var(--font-color);
  font-size: var(--font-size-note);
  line-height: 1.6;
}

.note-note {
  outline: var(--outline);
  line-height: 1.6;
  font-size: var(--font-size-note);
  margin: 0px;
  margin-bottom: 10px;
}

.cmd {
  outline: var(--outline);
}

.cmd-ul {
  outline: var(--outline);
  inline-size: var(--inline-size);
  overflow-wrap: break-word;
}

.cmd-item {
  outline: var(--outline);
}

.cmd-item-note {
  outline: var(--outline);
  font-size: var(--font-size-note);
  line-height: 1.6;
  margin: 0px;
}

.cmd-item-copy {
  /* background-color: rgba(11, 170, 19, 0.5); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cmd-item-icon {
  outline: var(--outline);
  width: 40px;
  cursor: pointer;
}

.parent {
  /* background-color: rgba(72, 74, 214, 0.5); */
  padding: 10px;
}

.flex-parent {
  display: flex;
}

.child {
  /* border: 1px solid indigo; */
  padding: 10px;
}

.flex-child-left {
  flex: 10;
  background-color: rgb(51, 49, 49);
}

.flex-child-right {
  flex: 0.3;
  background-color: rgb(51, 49, 49);
  position: relative;
}

.source-link-li {
  font-size: var(--font-size-note);
  line-height: 1.6;
}

.description-title {
  outline: var(--outline);
}

.description-note {
  outline: var(--outline);
  inline-size: var(--inline-size);
  overflow-wrap: break-word;
  line-height: 1.6;
}

.precondition-item-li {
  font-size: var(--font-size-note);
}

.precondition-item-p {
  margin: 0px;
  margin-bottom: 5px;
  font-size: var(--font-size-note);
}

.note-aside {
  margin-top: 0px;
  margin-bottom: 10px;
  line-height: 1.6;
}

#note-aside-text {
  font-size: var(--font-size-note);
  margin-top: 15px;
  margin-bottom: 15px;
}

.note-copy {
  margin-top: 35px;
  margin-bottom: 35px;
}

.btn-off {
  background-color: var(--btn-not-active);
  padding: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: var(--font-size-note);
  color: white;
}

.btn-on {
  background-color: var(--btn-active);
  padding: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: var(--font-size-note);
  color: white;
}

.tab {
  margin-left: 20px;
}

.code {
  font-family: 'Courier New', Courier, monospace;
  font-size: var(--font-size-code);
}

.mark-1 {
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
}

.mark-2 {
  background-color: rgba(255, 165, 0, 0.5);
  color: white;
}

.mark-3 {
  background-color: rgba(255, 255, 0, 0.5);
  color: white;
}

.mark-4 {
  background-color: rgba(0, 128, 0, 0.5);
  color: white;
}

.mark-5 {
  background-color: rgba(0, 0, 255, 0.5);
  color: white;
}

.mark-6 {
  background-color: rgba(75, 0, 130, 0.5);
  color: white;
}

.mark-7 {
  background-color: rgba(238, 130, 238, 0.5);
  color: white;
}
