:root {
  --inline-size: 66ch;
  /* --font-color: rgb(42, 206, 42); */
  --font-color: rgb(255, 255, 255);
  --btn-detail-on: rgb(163, 157, 157);
  --btn-detail-off: rgb(121, 115, 115);
}

a {
  color: var(--font-color);
}

.hide {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
}

.inline-text {
  inline-size: var(--inline-size);
  overflow-wrap: break-word;
}

.tab {
  margin-left: 20px;
}

.debug-log {
  color: var(--font-color);
}

.cmd-item-copy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-img-windows {
  max-width: 30px;
  max-height: 30px;
}

.card-img-android {
  max-width: 30px;
  max-height: 30px;
}

.card-img-unknown {
  max-width: 30px;
  max-height: 30px;
}

.parent {
  padding: 10px;
}

.flex-parent {
  display: flex;
}

.child {
  padding: 10px;
}

.flex-child-left {
  flex: 10;
  background-color: rgb(51, 49, 49);
}

.flex-child-right {
  flex: 0.3;
  background-color: rgb(51, 49, 49);
  position: relative;
}

.mark-1 {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}

.mark-2 {
  background-color: rgb(107, 71, 4);
  color: rgb(255, 255, 255);
}

.mark-3 {
  background-color: rgb(93, 93, 6);
  color: rgb(255, 255, 255);
}

.mark-4 {
  background-color: rgb(0, 128, 0);
  color: rgb(255, 255, 255);
}

.mark-5 {
  background-color: rgb(0, 0, 255);
  color: rgb(255, 255, 255);
}

.mark-6 {
  background-color: rgb(75, 0, 130);
  color: rgb(255, 255, 255);
}

.mark-7 {
  background-color: rgb(154, 22, 154);
  color: rgb(255, 255, 255);
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  color: white;
  text-align: center;
}

.cmd-item-note {
  width: 66ch;
  overflow: auto;
}

@media (max-width: 1920px) {
  body {
    font-family: 'Arial';
    background-color: black;
    color: var(--font-color);
    line-height: 1.6;
    font-size: clamp(0.5rem, 0.75rem + 1.5vw, 1.5rem);
  }

  .code {
    font-family: 'Courier New', Courier, monospace;
    word-break: break-all;
    white-space: pre;
    font-size: clamp(0.5rem, 0.75rem + 1.5vw, 1.4rem);
  }

  .btn-off {
    background-color: var(--btn-detail-off);
    padding: 5px;
    cursor: pointer;
    color: black;
    font-size: clamp(0.5rem, 0.75rem + 1.5vw, 1.4rem);
  }

  .btn-on {
    background-color: var(--btn-detail-on);
    padding: 5px;
    cursor: pointer;
    color: black;
    font-size: clamp(0.5rem, 0.75rem + 1.5vw, 1.4rem);
  }

  .cmd-item-icon {
    width: 2vw;
    cursor: pointer;
  }

  .note-icon img {
    width: 2vw;
    cursor: pointer;
  }

  li {
    padding: 0.5vw;
  }
}

@media (max-width: 1280px) {
  body {
    font-family: 'Arial';
    background-color: black;
    color: var(--font-color);
    line-height: 1.6;
    font-size: clamp(0.5rem, 0.75rem + 1.5vw, 1.4rem);
  }

  .code {
    font-family: 'Courier New', Courier, monospace;
    word-break: break-all;
    white-space: pre;
    font-size: clamp(0.5rem, 0.75rem + 1.5vw, 1.1rem);
  }

  .btn-off {
    background-color: var(--btn-detail-off);
    padding: 5px;
    cursor: pointer;
    color: black;
    font-size: clamp(0.5rem, 0.75rem + 1.5vw, 1.1rem);
  }

  .btn-on {
    background-color: var(--btn-detail-on);
    padding: 5px;
    cursor: pointer;
    color: black;
    font-size: clamp(0.5rem, 0.75rem + 1.5vw, 1.1rem);
  }

  .cmd-item-icon {
    width: 2vw;
    cursor: pointer;
  }

  .note-icon img {
    width: 2vw;
    cursor: pointer;
  }

  li {
    padding: 0.5vw;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  body {
    font-family: 'Arial';
    background-color: black;
    color: var(--font-color);
    line-height: 1.8;
    font-size: clamp(0.5rem, 0.75rem + 1.5vw, 1.1rem);
  }

  .code {
    font-family: 'Courier New', Courier, monospace;
    word-break: break-all;
    white-space: pre;
    font-size: clamp(0.5rem, 0.75rem + 1.5vw, 0.9rem);
  }

  .btn-off {
    background-color: var(--btn-detail-off);
    padding: 5px;
    cursor: pointer;
    color: black;
    font-size: clamp(0.5rem, 0.75rem + 1.5vw, 1rem);
  }

  .btn-on {
    background-color: var(--btn-detail-on);
    padding: 5px;
    cursor: pointer;
    color: black;
    font-size: clamp(0.5rem, 0.75rem + 1.5vw, 1rem);
  }

  .cmd-item-icon {
    width: 3vw;
    cursor: pointer;
  }

  .note-icon img {
    width: 3vw;
    cursor: pointer;
  }

  li {
    padding: 1.6vw;
  }
}

@media (max-width: 450px) and (orientation: portrait) {
  body {
    font-family: 'Arial';
    background-color: black;
    color: var(--font-color);
    line-height: 1.9;
    font-size: clamp(0.5rem, 0.75rem + 1.5vw, 1.1rem);
  }

  .code {
    font-family: 'Courier New', Courier, monospace;
    word-break: break-all;
    white-space: pre;
    font-size: clamp(0.1rem, 0.75rem + 1.5vw, 0.5rem);
  }

  .btn-off {
    background-color: var(--btn-detail-off);
    padding: 5px;
    cursor: pointer;
    color: black;
    font-size: clamp(0.5rem, 0.75rem + 1.5vw, 1rem);
  }

  .btn-on {
    background-color: var(--btn-detail-on);
    padding: 5px;
    cursor: pointer;
    color: black;
    font-size: clamp(0.5rem, 0.75rem + 1.5vw, 1rem);
  }

  .cmd-item-icon {
    width: 4vw;
    cursor: pointer;
  }

  .note-icon img {
    width: 4vw;
    cursor: pointer;
  }

  li {
    padding: 3.2vw;
  }
}
